.root {
    -fx-font-family: Roboto;
    src: "/resources/roboto/Roboto-Regular.ttf";
}

/* Burgers Demo */

.jfx-hamburger {
    -fx-spacing: 3;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color: #D63333;
    -fx-background-radius: 3px;
}

/* Input Demo */

.text-field {
    -fx-max-width: 300;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-unfocus-color: #4d4d4d;
}

.jfx-decorator {
    -fx-decorator-color: RED;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-text-area, .text-area {
    -fx-font-weight: BOLD;
}


.jfx-text-field .errorLabel, .jfx-password-field .errorLabel, .jfx-text-area .errorLabel {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .errorIcon, .jfx-password-field .errorIcon, .jfx-text-area .errorIcon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

/* Progress Bar Demo */

.progress-bar > .bar {
    -fx-min-width: 500;
}

.jfx-progress-bar > .bar {
    -fx-min-width: 500;
}

.jfx-progress-bar {
    -fx-track-color: #C8C8C8;
    -fx-progress-color: #0F9D58;
    -fx-stroke-width: 3;
}

/* Icons Demo */
.icon {
    -fx-text-fill: #FE774D;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.icons-rippler {
    -fx-rippler-fill: BLUE;
    -fx-mask-type: CIRCLE;
}

.icons-rippler:hover {
    -fx-cursor: hand;
}

.icons-badge {
    -fx-badge-fill: BLUE;
    -fx-badge-scale: 3.0;
    -fx-mask-type: CIRCLE;
}

.jfx-check-box {
    -fx-font-weight: BOLD;
}

.custom-jfx-check-box {
    -fx-checked-color: RED;
    -fx-unchecked-color: BLACK;
}

/* Button */
.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
}
.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 5.0;
    -fx-vertical-gap: 10;
    -fx-expanded: false;
    -fx-pref-width: 200;
}
.combo-box-popup .list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.combo-box-popup .list-view .jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.combo-box-popup .list-view .jfx-list-cell:filled:hover {
    -fx-text-fill: black;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #17181B;
}
.tab:selected {
    -fx-background-color: #21477A;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #F5F5F5;
}